<h1><%= @user.name %>さんの投稿一覧</h1>
<div class="contents_row">
  <% @charas.each do |chara| %>
    <div class="content_post" >
      <div>
      <img src=<%= chara.image %> class = "chara_image">
      </div>
      <span class="name"><%= chara.name %></span>
    </div>
  <% end %>
</div>